.VersionMessage {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(28, 88, 217, 0.08);
    color: rgb(28, 88, 217);
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px 0;

    .banner {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .CompassIcon {
        color: rgb(28, 88, 217);
        margin-right: 8px;
    }

    .margin-right {
        margin-right: 0;
    }
}
