.FocalboardLogoIcon {
    width: 24px;
    height: 24px;
    fill: rgba(var(--center-channel-color-rgb), 0.56);

    &.elmacik-logo {
        width: auto;
        height: auto;
        font-weight: bold;
        font-size: 18px;
        color: rgba(var(--center-channel-color-rgb), 0.9);
        display: flex;
        align-items: center;
    }
}

